<header>
  <div class="header-content">

    <div class="header-left">
      <button id="back-btn" class="back-btn">
        <img src="../assets/arrow_back_ios_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg">
      </button>
      <div class="ios-toggle-wrapper">
        <span class="toggle-label">펫</span>
        <label class="ios-toggle">
          <input type="checkbox" id="pet-toggle" />
          <span class="slider"></span>
        </label>
        <button id="pet-plus" class="pet-count-btn">+</button>
        <button id="pet-minus" class="pet-count-btn">–</button>
      </div>
    </div>

    <h1>Eden🎄  </h1>

    <div class="header-right">
      
      <div class="profile-wrapper">
        <img id="header-profile" src="../assets/profile-icon.png" class="profile-icon" />
        <li class="header-profile-nickname">로그인이 필요합니다</li>
        <ul class="profile-menu">
          <li id="header-mypage"><a href="./myPage.html">내 정보</a></li>
          <li><a href="./profileUpdate.html">회원정보 수정</a></li>
          <li><a href="./passwordUpdate.html">비밀번호 변경</a></li>
          <li id="logout-btn"><a href="#">로그아웃</a></li>
        </ul>
      </div>

      <img id="message-btn" src="../assets/send_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" class="message-icon" />
      
      <div class="notification-wrapper">
        <img id="notification-btn" src="../assets/notifications_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" class="notifications-icon" />
        <ul class="notification-menu">
          <li>알림 내용</li>
        </ul>
      </div>
    </div>
  </div>
</header>