<button class="sidebar-toggle">
  <img src="../assets/keyboard_double_arrow_right_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" />
</button>
<div class="sidebar-overlay"></div>

<nav class="sidebar">
  <div class="sidebar-header">
    <h2>정원</h2>
  </div>

  <ul class="sidebar-section">
    <h3>📚 게시판 카테고리</h3>
    <li><a href="./boardList.html" data-category="📋 전체 게시판">📋 전체 게시판</a></li>
    <li><a href="./boardList.html?category=popular" data-category="🔥 인기 게시글">🔥 인기 게시글</a></li>
    <li><a href="./boardList.html?category=random" data-category="😁 아무글">😁 아무글</a></li>
    <li><a href="./boardList.html?category=it" data-category="👨🏻‍💻 IT">👨🏻‍💻 IT</a></li>
    <li><a href="./boardList.html?category=career" data-category="🐣 취준생">🐣 취준생</a></li>
    <li><a href="./boardList.html?category=fitness" data-category="💪 운동">💪 운동</a></li>
    <li><a href="./boardList.html?category=food" data-category="🍕 쩝쩝박사">🍕 쩝쩝박사</a></li>
    
    <h3>🙋‍♂️ 내 카테고리</h3>
    <li><a href="./followingPosts.html" data-category="👀 구독 게시글">👀 구독 게시글</a></li>
    <li><a href="./popular.html" data-category="🚀 좋아요 한 게시글">🚀 좋아요 한 게시글</a></li>

    <h3>⚙️ 운영 카테고리</h3>
    <li><a href="./notice.html" data-category="📢 공지사항">📢 공지사항</a></li>
    <!-- <li><a href="./ev.html" data-category="🎉 이벤트">🎉 이벤트</a></li> -->
    <li><a href="./qna.html" data-category="❓ Q&A">❓ Q&A</a></li>
  </ul>
</nav>
